
/*----course*--*/

.discover{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}

.discover-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30%;
    position:relative;
    overflow:hidden;
}
.discover-col img{
    width:100%;
}
.layer{
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.layer:hover{
    background:rgba(226, 0, 0, 0.7);

}
.layer h3{
    width:100%;
    font-weight:500;
    color:rgb(255, 255, 255);
    font-size:26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    text-align:center;
    opacity:0;
    transition:0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*-------features----------*/
.features{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:50px;
}
.features-col{
    flex-basis: 31%;
    background: #fcd9d9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.7s;
}
.features-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.418);
}
/*---VIPs---*/
.vip{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
.vip-col{
    flex-basis:31%;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: left;
}
.vip-col img{
    width:100%;
    border-radius: 10px;
}
.vip-col p{
    padding:0;
}
.vip-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}